/* <link rel="stylesheet" href="homepage.css"> */
body{
    background-color: white;
}

h1{
    position: absolute;
    width: 730px;
    height: 339px;
    left: calc(50% - 730px/2 + 5px);
    top: calc(50% - 339px/2 - 40.5px);

    font-family: Zilla Slab Highlight;
    font-style: normal;
    font-weight: normal;
    font-size: 288px;
    line-height: 346px;
    text-align: center;
    text-transform: uppercase;

    color: white;
    background-color: black;
}

h2{
    position: absolute;
    width: 1069px;
    height: 163px;
    left: 185px;
    top: 560px;

    font-family: Alegreya Sans SC;
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 43px;
    text-align: center;

    color: black;
}

.button{
    position: absolute;
    left: 17.31%;
    right: 17.31%;
    top: 25.58%;
    bottom: 26.74%;

    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 48px;
    line-height: 56px;
    text-align: center;
    text-transform: uppercase;

    color: black;
    background-color: grey;
}